---
import Layout from '../Layout.astro';
---

<Layout title="amanrdev">
 <main >


<div class="background">
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
</div>
<div class="children">

    <slot />
</div>
</main>
</Layout>


  <style>
    @keyframes move {
    100% {
        transform: translate3d(0, 0, 2px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000000;
    overflow: hidden;
    z-index: 1;
}

.children{
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 39;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #ffffff;
    top: 26%;
    left: 85%;
    animation-duration: 18s;
    animation-delay: -62s;
    transform-origin: -10vw 22vh;
    box-shadow: 2vmin 0 1.2335370000487051vmin currentColor;
}
.background span:nth-child(1) {
    color: #021b64;
    top: 32%;
    left: 39%;
    animation-duration: 88s;
    animation-delay: -102s;
    transform-origin: -3vw -13vh;
    box-shadow: -2vmin 0 1.1431569682637739vmin currentColor;
}
.background span:nth-child(2) {
    color: #ffffff;
    top: 32%;
    left: 3%;
    animation-duration: 69s;
    animation-delay: -85s;
    transform-origin: 20vw -21vh;
    box-shadow: 2vmin 0 0.8706788327441vmin currentColor;
}
.background span:nth-child(3) {
    color: #ffffff;
    top: 46%;
    left: 63%;
    animation-duration: 60s;
    animation-delay: -92s;
    transform-origin: -13vw 17vh;
    box-shadow: 2vmin 0 0.559405162963555vmin currentColor;
}
.background span:nth-child(4) {
    color: #021b64;
    top: 66%;
    left: 22%;
    animation-duration: 96s;
    animation-delay: -80s;
    transform-origin: -6vw 5vh;
    box-shadow: 2vmin 0 0.3080430003322989vmin currentColor;
}
.background span:nth-child(5) {
    color: #ffffff;
    top: 57%;
    left: 2%;
    animation-duration: 109s;
    animation-delay: -96s;
    transform-origin: 4vw 9vh;
    box-shadow: -2vmin 0 1.2074789784158002vmin currentColor;
}
.background span:nth-child(6) {
    color: #000ba3;
    top: 99%;
    left: 37%;
    animation-duration: 112s;
    animation-delay: -29s;
    transform-origin: -23vw 17vh;
    box-shadow: -2vmin 0 0.26390431226705546vmin currentColor;
}
.background span:nth-child(7) {
    color: #021b64;
    top: 51%;
    left: 84%;
    animation-duration: 75s;
    animation-delay: -93s;
    transform-origin: -7vw 19vh;
    box-shadow: -2vmin 0 1.1046041733830163vmin currentColor;
}
.background span:nth-child(8) {
    color: #021b64;
    top: 10%;
    left: 92%;
    animation-duration: 46s;
    animation-delay: -5s;
    transform-origin: 0vw 6vh;
    box-shadow: 2vmin 0 0.34303461763492504vmin currentColor;
}
.background span:nth-child(9) {
    color: #ffffff;
    top: 44%;
    left: 58%;
    animation-duration: 80s;
    animation-delay: -59s;
    transform-origin: 15vw 19vh;
    box-shadow: -2vmin 0 0.3942299113074397vmin currentColor;
}
.background span:nth-child(10) {
    color: #021b64;
    top: 37%;
    left: 24%;
    animation-duration: 33s;
    animation-delay: -14s;
    transform-origin: -15vw -20vh;
    box-shadow: 2vmin 0 0.7445086641050243vmin currentColor;
}
.background span:nth-child(11) {
    color: #ffffff;
    top: 82%;
    left: 84%;
    animation-duration: 108s;
    animation-delay: -61s;
    transform-origin: 4vw -2vh;
    box-shadow: -2vmin 0 0.4983459534212098vmin currentColor;
}
.background span:nth-child(12) {
    color: #000ba3;
    top: 38%;
    left: 81%;
    animation-duration: 48s;
    animation-delay: -8s;
    transform-origin: -14vw -2vh;
    box-shadow: -2vmin 0 0.6057649994297158vmin currentColor;
}
.background span:nth-child(13) {
    color: #021b64;
    top: 53%;
    left: 52%;
    animation-duration: 30s;
    animation-delay: -107s;
    transform-origin: -16vw -22vh;
    box-shadow: 2vmin 0 0.4121961649636794vmin currentColor;
}
.background span:nth-child(14) {
    color: #ffffff;
    top: 78%;
    left: 92%;
    animation-duration: 103s;
    animation-delay: -70s;
    transform-origin: 21vw -24vh;
    box-shadow: -2vmin 0 1.025631567283718vmin currentColor;
}
.background span:nth-child(15) {
    color: #000ba3;
    top: 33%;
    left: 63%;
    animation-duration: 18s;
    animation-delay: -94s;
    transform-origin: 17vw -19vh;
    box-shadow: 2vmin 0 0.6125832294751163vmin currentColor;
}
.background span:nth-child(16) {
    color: #ffffff;
    top: 52%;
    left: 90%;
    animation-duration: 64s;
    animation-delay: -32s;
    transform-origin: -17vw -8vh;
    box-shadow: -2vmin 0 0.2730633559798168vmin currentColor;
}
.background span:nth-child(17) {
    color: #021b64;
    top: 76%;
    left: 56%;
    animation-duration: 45s;
    animation-delay: -76s;
    transform-origin: -8vw 16vh;
    box-shadow: -2vmin 0 1.2461035706310677vmin currentColor;
}
.background span:nth-child(18) {
    color: #021b64;
    top: 54%;
    left: 7%;
    animation-duration: 100s;
    animation-delay: -109s;
    transform-origin: 19vw 24vh;
    box-shadow: 2vmin 0 0.5876638285525395vmin currentColor;
}
.background span:nth-child(19) {
    color: #ffffff;
    top: 62%;
    left: 54%;
    animation-duration: 111s;
    animation-delay: -94s;
    transform-origin: 12vw -22vh;
    box-shadow: 2vmin 0 1.1438250927000155vmin currentColor;
}
.background span:nth-child(20) {
    color: #021b64;
    top: 87%;
    left: 38%;
    animation-duration: 9s;
    animation-delay: -50s;
    transform-origin: -1vw -17vh;
    box-shadow: 2vmin 0 0.488534501934319vmin currentColor;
}
.background span:nth-child(21) {
    color: #ffffff;
    top: 12%;
    left: 26%;
    animation-duration: 8s;
    animation-delay: -97s;
    transform-origin: 0vw 12vh;
    box-shadow: -2vmin 0 0.27277645728955924vmin currentColor;
}
.background span:nth-child(22) {
    color: #000ba3;
    top: 47%;
    left: 15%;
    animation-duration: 67s;
    animation-delay: -54s;
    transform-origin: 12vw 21vh;
    box-shadow: -2vmin 0 0.46433024345849017vmin currentColor;
}
.background span:nth-child(23) {
    color: #021b64;
    top: 24%;
    left: 26%;
    animation-duration: 58s;
    animation-delay: -54s;
    transform-origin: -10vw -15vh;
    box-shadow: -2vmin 0 0.4451285996174086vmin currentColor;
}
.background span:nth-child(24) {
    color: #000ba3;
    top: 38%;
    left: 36%;
    animation-duration: 92s;
    animation-delay: -23s;
    transform-origin: -12vw 4vh;
    box-shadow: 2vmin 0 0.3608158455712809vmin currentColor;
}
.background span:nth-child(25) {
    color: #021b64;
    top: 4%;
    left: 37%;
    animation-duration: 30s;
    animation-delay: -78s;
    transform-origin: 3vw -16vh;
    box-shadow: -2vmin 0 0.5364288015984935vmin currentColor;
}
.background span:nth-child(26) {
    color: #ffffff;
    top: 8%;
    left: 43%;
    animation-duration: 18s;
    animation-delay: -68s;
    transform-origin: 24vw 22vh;
    box-shadow: 2vmin 0 0.29207540446820035vmin currentColor;
}
.background span:nth-child(27) {
    color: #ffffff;
    top: 29%;
    left: 90%;
    animation-duration: 40s;
    animation-delay: -5s;
    transform-origin: -17vw -12vh;
    box-shadow: 2vmin 0 0.48112098852931817vmin currentColor;
}
.background span:nth-child(28) {
    color: #021b64;
    top: 96%;
    left: 9%;
    animation-duration: 93s;
    animation-delay: -34s;
    transform-origin: 23vw 20vh;
    box-shadow: 2vmin 0 0.5920317483178821vmin currentColor;
}
.background span:nth-child(29) {
    color: #000ba3;
    top: 20%;
    left: 72%;
    animation-duration: 107s;
    animation-delay: -89s;
    transform-origin: 18vw 13vh;
    box-shadow: 2vmin 0 0.6360842020203465vmin currentColor;
}
.background span:nth-child(30) {
    color: #ffffff;
    top: 55%;
    left: 69%;
    animation-duration: 81s;
    animation-delay: -27s;
    transform-origin: -24vw 3vh;
    box-shadow: 2vmin 0 0.5845814770519147vmin currentColor;
}
.background span:nth-child(31) {
    color: #000ba3;
    top: 91%;
    left: 22%;
    animation-duration: 47s;
    animation-delay: -62s;
    transform-origin: 18vw 22vh;
    box-shadow: 2vmin 0 0.9845394620020582vmin currentColor;
}
.background span:nth-child(32) {
    color: #021b64;
    top: 97%;
    left: 12%;
    animation-duration: 18s;
    animation-delay: -82s;
    transform-origin: -11vw -13vh;
    box-shadow: 2vmin 0 0.42085925753315134vmin currentColor;
}
.background span:nth-child(33) {
    color: #000ba3;
    top: 52%;
    left: 46%;
    animation-duration: 12s;
    animation-delay: -26s;
    transform-origin: 10vw -18vh;
    box-shadow: -2vmin 0 0.4971925848241232vmin currentColor;
}
.background span:nth-child(34) {
    color: #ffffff;
    top: 12%;
    left: 73%;
    animation-duration: 100s;
    animation-delay: -4s;
    transform-origin: 25vw 9vh;
    box-shadow: -2vmin 0 0.8199891760061973vmin currentColor;
}
.background span:nth-child(35) {
    color: #000ba3;
    top: 68%;
    left: 22%;
    animation-duration: 22s;
    animation-delay: -77s;
    transform-origin: 1vw -13vh;
    box-shadow: -2vmin 0 0.8661229786194187vmin currentColor;
}
.background span:nth-child(36) {
    color: #021b64;
    top: 54%;
    left: 78%;
    animation-duration: 35s;
    animation-delay: -90s;
    transform-origin: 12vw -6vh;
    box-shadow: -2vmin 0 0.6684739055296105vmin currentColor;
}
.background span:nth-child(37) {
    color: #ffffff;
    top: 45%;
    left: 67%;
    animation-duration: 71s;
    animation-delay: -21s;
    transform-origin: -15vw -14vh;
    box-shadow: -2vmin 0 1.0563584368278571vmin currentColor;
}
.background span:nth-child(38) {
    color: #000ba3;
    top: 67%;
    left: 3%;
    animation-duration: 97s;
    animation-delay: -55s;
    transform-origin: -19vw -8vh;
    box-shadow: -2vmin 0 0.6707134396645853vmin currentColor;
}
.background span:nth-child(39) {
    color: #021b64;
    top: 12%;
    left: 80%;
    animation-duration: 101s;
    animation-delay: -94s;
    transform-origin: 5vw -17vh;
    box-shadow: 2vmin 0 0.3147673216288416vmin currentColor;
}
.background span:nth-child(40) {
    color: #ffffff;
    top: 18%;
    left: 66%;
    animation-duration: 87s;
    animation-delay: -50s;
    transform-origin: -8vw 20vh;
    box-shadow: -2vmin 0 0.25543602593315895vmin currentColor;
}
.background span:nth-child(41) {
    color: #ffffff;
    top: 61%;
    left: 25%;
    animation-duration: 45s;
    animation-delay: -32s;
    transform-origin: -2vw 22vh;
    box-shadow: -2vmin 0 1.1105559198932973vmin currentColor;
}
.background span:nth-child(42) {
    color: #000ba3;
    top: 13%;
    left: 71%;
    animation-duration: 47s;
    animation-delay: -91s;
    transform-origin: 4vw -18vh;
    box-shadow: 2vmin 0 0.8896334251274416vmin currentColor;
}
.background span:nth-child(43) {
    color: #021b64;
    top: 20%;
    left: 60%;
    animation-duration: 7s;
    animation-delay: -29s;
    transform-origin: 16vw -8vh;
    box-shadow: 2vmin 0 0.7595278170202284vmin currentColor;
}
.background span:nth-child(44) {
    color: #000ba3;
    top: 10%;
    left: 46%;
    animation-duration: 52s;
    animation-delay: -28s;
    transform-origin: 15vw 14vh;
    box-shadow: 2vmin 0 0.7402998734565867vmin currentColor;
}
.background span:nth-child(45) {
    color: #ffffff;
    top: 87%;
    left: 98%;
    animation-duration: 86s;
    animation-delay: -6s;
    transform-origin: -16vw 25vh;
    box-shadow: 2vmin 0 0.599939651331062vmin currentColor;
}
.background span:nth-child(46) {
    color: #021b64;
    top: 56%;
    left: 78%;
    animation-duration: 26s;
    animation-delay: -32s;
    transform-origin: 18vw 10vh;
    box-shadow: -2vmin 0 0.47887412279182806vmin currentColor;
}
.background span:nth-child(47) {
    color: #000ba3;
    top: 16%;
    left: 21%;
    animation-duration: 33s;
    animation-delay: -97s;
    transform-origin: 11vw 13vh;
    box-shadow: -2vmin 0 1.0964885569144927vmin currentColor;
}

  </style>