---
import "@fontsource-variable/quicksand";
import HeroDesc from "./HeroDesc";
---

<main
  class="flex flex-col gap-8 p-0 sm:p-6 my-12 bg-inherit
    items-center justify-center
    md:w-[44rem] lg:w-[55rem] max-w-3xl lg:max-w-5xl
    lg:items-start lg:justify-start"
>
  <HeroDesc client:only />
</main>
