---
import "@fontsource-variable/quicksand";
import HeroDesc from "./HeroDesc";
---

<main
  class="flex items-start justify-start p-8 w-[55rem] max-w-5xl my-6 flex-col gap-8 bg-inherit"
>
  <HeroDesc client:only />
</main>
