---
import "@fontsource-variable/quicksand";
import HeroDesc from "./HeroDesc";
---

<main
  class="flex flex-col gap-6 sm:gap-8 p-0 sm:p-6 mt-4 sm:mt-8 md:my-12 bg-inherit
    items-center justify-center
    w-full max-w-3xl lg:max-w-5xl md:w-[44rem] lg:w-[55rem]
    lg:items-start lg:justify-start"
>
  <HeroDesc client:only="react" />
</main>
