.hover-container {
  position: relative;
  display: inline-block;
}

.hover-image {
  position: absolute;
  top: -220px;
  left: -70px;
  width: 250px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition:
    transform 0.4s cubic-bezier(0.33, 0, 0.2, 1.4) 0.4s,
    /* Bounce effect with delay */ opacity 0.3s ease-in-out 0.4s; /* Opacity with delay */
}

.hover-container:hover .hover-image {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.underline-animation {
  position: relative;
  color: inherit;
  text-decoration: underline;
  z-index: 1;
  text-decoration-color: #1d4ed8;
}

.underline-animation::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #1d4ed8;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  z-index: -1;
}

.underline-animation:hover,
.underline-animation:hover::before {
  visibility: visible;
  width: 100%;
  text-decoration: none;
  transition: all 0.4s ease-out;
}
