---
// import MainLayout from "../layouts/MainLayout.astro";
---

<!-- <MainLayout title="Skills">
  <div id="skills-page">
    <div class="skills-container">
      <div class="skills-column">
        <h2>Frontend Skills</h2>
        <ul class="skills-list" id="frontend-skills">
          <li>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
              alt="HTML5 logo"
            /><span>HTML5</span>
          </li>
          <li>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
              alt="CSS3 logo"
            /><span>CSS3</span>
          </li>
          <li>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
              alt="JavaScript logo"
            /><span>JavaScript</span>
          </li>
          <li>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
              alt="React logo"
            /><span>React</span>
          </li>
          <li>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original-wordmark.svg"
              alt="Next.js logo"
            /><span>Next.js</span>
          </li>
          <li>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg"
              alt="Tailwind CSS logo"
            /><span>Tailwind CSS</span>
          </li>
        </ul>
      </div>
      <div class="skills-column">
        <h2>Backend Skills</h2>
        <ul class="skills-list" id="backend-skills">
          <li>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
              alt="Node.js logo"
            /><span>Node.js</span>
          </li>
          <li>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg"
              alt="Express logo"
            /><span>Express.js</span>
          </li>
          <li>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg"
              alt="MongoDB logo"
            /><span>MongoDB</span>
          </li>
          <li>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/graphql/graphql-plain.svg"
              alt="GraphQL logo"
            /><span>GraphQL</span>
          </li>
          <li>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jwt/jwt-plain.svg"
              alt="JWT logo"
            /><span>JWT Authentication</span>
          </li>
        </ul>
      </div>
      <div class="skills-column">
        <h2>DevOps & Tools</h2>
        <ul class="skills-list" id="devops-skills">
          <li>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"
              alt="Git logo"
            /><span>Git</span>
          </li>
          <li>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg"
              alt="Docker logo"
            /><span>Docker</span>
          </li>
          <li>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
              alt="GitHub logo"
            /><span>GitHub</span>
          </li>
          <li>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/heroku/heroku-original.svg"
              alt="Heroku logo"
            /><span>Heroku</span>
          </li>
          <li>
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jest/jest-plain.svg"
              alt="Jest logo"
            /><span>Jest</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</MainLayout> -->
