---
import SuperHero from "../components/Hero/SuperHero.astro";
import ParticlesRotate from "../layouts/animated-bg/ParticlesRotate";
import MainLayout from "../layouts/MainLayout.astro";
import Experience from "../components/Experience";
import Projects from "../components/Projects";
import AboutMe from "../components/AboutMe";
import Skills from "../components/Skills";
import Contact from "../components/Contact";

// import "@fontsource-variable/dosis";
---

<MainLayout title="dipanshurdev | Full Stack Developer">
  <ParticlesRotate client:load />

  <div
    class="w-full space-y-16 sm:space-y-20 lg:space-y-24 pb-20 sm:pb-24 pt-16 sm:pt-20"
  >
    <SuperHero />
    <Skills client:visible />
    <Experience client:visible />
    <Projects client:visible />
    <AboutMe client:visible />
    <Contact client:visible />
  </div>
</MainLayout>
