---
import ThreejsBg from "../layouts/animated-bg/ThreejsBg";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";

// import "@fontsource-variable/open-sans";
// import "@fontsource-variable/dosis";
---

<Layout title="amanr-dev">
  <main class="text-gray-200">
    <ThreejsBg client:load />
    <Navbar />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa voluptas
      eaque voluptatum, laudantium a explicabo illo nemo nisi totam dolores
      atque, dolore mollitia soluta.
    </p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 100%;
    max-width: 80rem;
    /* font-family: "Dosis Variable"; */
    /* font-family: "Open Sans"; */
    font-size: 20px;
    line-height: 1.6;
    background-color: inherit;
    /* background-color: #13151a; */
  }

  .animation-bg {
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
  }
</style>
