---
import ThreejsBg from "../layouts/animated-bg/ThreejsBg";
import Navbar from "../components/Navbar.astro";
---

<main>
  <ThreejsBg client:load />
  <Navbar />
</main>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 100%;
    max-width: 80rem;
    color: white;
    font-size: 20px;
    line-height: 1.6;
    background-color: inherit;
    /* background-color: #13151a; */
  }

  .animation-bg {
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
  }
</style>
