---
import { Heading } from "../components";
import MainLayout from "../layouts/MainLayout.astro";
import projects from "../data/projects.json";
import { Image } from "astro:assets";
import Project from "../components/Project.astro";
---

<MainLayout title="Projects">
  <main class="w-full h-full flex items-start justify-center flex-col px-4">
    <Heading text="Projects" />
    <section class="w-full grid h-full grid-cols-3">
      {projects.map((project) => <Project {...project} />)}
    </section>
  </main>
</MainLayout>
