<footer class="w-full my-2 p-4 flex flex-row items-center justify-beteween">
  <div class="flex gap-8 cursor-pointer justify-center items-center">
    <span>
      <a
        href="https://x.com/dipanshurdev"
        class="footer-link hover:ring-4 rounded-sm transition-all duration-400
      ease-in hover:ring-blue-700"
      >
        <svg
          class="fill-current"
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 18 18"
        >
          <path
            d="M3.5 5.1l3.8 5L4 13.6c-1.9 1.8-3.1 3.6-2.8 3.9.3.3 1.7-.8 3.1-2.5 3.2-3.8 4.1-3.8 6.4 0 1.3 2.2 2.5 3 4.5 3H18l-3.6-5-3.7-5.1L13.9 4c1.8-2.2 2.8-4 2.3-4-.4 0-1.8 1.3-3 3-1.3 1.6-2.6 3-3 3-.4 0-1.6-1.4-2.7-3C6.1.9 4.7 0 2.7 0H-.2l3.7 5.1zm6.3 3.3c5.3 7.6 5.8 8.6 4.4 8.6C13.4 17 3 2.7 3 1.6c0-2 2.3.3 6.8 6.8z"
          ></path>
        </svg>
      </a>
    </span>

    <span
      class="footer-link hover:ring-4 rounded-sm transition-all duration-400 ease-in hover:ring-blue-700"
    >
      <a href="https://linkedin.com/in/dipanshurdev" target="_blank">
        <svg
          class="stroke-current fill-none w-7 h-7"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-linkedin"
          ><path
            d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
          ></path><rect width="4" height="12" x="2" y="9"></rect><circle
            cx="4"
            cy="4"
            r="2"></circle></svg
        >
      </a>
    </span>
    <span
      class="footer-link hover:ring-4 rounded-sm transition-all duration-400 ease-in hover:ring-blue-700"
    >
      <a href="https://github.com/dipanshurdev" target="_blank">
        <svg
          width="800px"
          class="stroke-current fill-none w-7 h-7"
          height="800px"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M11.7444 14C5.13962 13 5.64768 8.5 7.67987 7C7.27882 6.39155 6.66375 4 7.1718 3.00001C8.18792 3.5 9.55173 4.23944 10.2202 5C12.2524 4 15.3007 4 16.8249 5C17.226 4.18873 18.6968 3.42254 19.3652 3C19.9668 3.60845 19.5323 5.98592 19.3652 7C20.3678 9.19718 20.8894 12.5 15.3007 14C16.1273 14.6688 17.4571 16.2652 18.3819 18.0893C19.0373 19.3821 17.7844 20.5701 16.3571 20.3176C15.3606 20.1413 14.2545 20 13.2685 20C12.0745 20 10.494 20.2071 9.12617 20.4329C7.71155 20.6663 6.56735 19.4472 7.29296 18.2106C7.81974 17.3128 8.48393 16.4725 9.20408 16C8.95342 15.662 7.9605 14.6887 6.15574 15.5C3.89979 16.5141 2.60607 14.2676 3.10739 13"
            stroke-linecap="round"
            stroke-linejoin="round"></path></svg
        >
      </a>
    </span>
    <span
      class="footer-link hover:ring-4 rounded-sm transition-all duration-400 ease-in hover:ring-blue-700"
    >
      <a href="mailto:dv451197@gmail.com" target="_blank">
        <svg
          class="stroke-current fill-none w-7 h-7"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M6.11098 18.9943H4.78839C4.19226 19.0474 3 18.7528 3 17.1491C3 15.5454 3 9.96574 3 7.74088C3 5.51602 5.29936 5.75901 6.46066 6.62465L11.9883 10.6567L17.6323 6.48797C18.9793 5.41731 21 6.16905 21 8.44707C21 11.8185 21 15.395 21 16.7618C21 17.6502 20.7631 18.9943 18.9793 18.9943H16.889V12.2058L11.9883 15.8506L7.11098 12.2058V16.7186"
            stroke-linecap="round"
            stroke-linejoin="round"></path></svg
        >
      </a>
    </span>
  </div>
  <div class="w-full text-center text-base font-semibold">
    <span class="font-mono">©{new Date().getFullYear()}</span>
  </div>
  <div class="w-full text-end text-base font-semibold">
    <span class="font-mono"> Designed and developed by Me.</span>
  </div>
</footer>

<style>
  .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
  }
</style>
