---
import { Github, LinkedIn, Gmail, X } from "../assets/exportImages";
---

<footer class="w-full my-2 p-4 flex flex-row items-center justify-start">
  <div class="flex gap-8 cursor-pointer justify-center items-center">
    <span
      class="footer-link hover:ring-4 rounded-sm transition-all duration-400 ease-in hover:ring-blue-700"
    >
      <a href="https://twitter.com/dipanshurdev" target="_blank">
        <img class="w-7 h-7" src={X.src} alt="X" />
      </a>
    </span>
    <span
      class="footer-link hover:ring-4 rounded-sm transition-all duration-400 ease-in hover:ring-blue-700"
    >
      <a href="https://www.linkedin.com/in/dipanshurdev" target="_blank">
        <img class="w-7 h-7" src={LinkedIn.src} alt="LinkedIn" />
      </a>
    </span>
    <span
      class="footer-link hover:ring-4 rounded-sm transition-all duration-400 ease-in hover:ring-blue-700"
    >
      <a href="https://github.com/dipanshurdev" target="_blank">
        <img class="w-7 h-7" src={Github.src} alt="Github" />
      </a>
    </span>
    <span
      class="footer-link hover:ring-4 rounded-sm transition-all duration-400 ease-in hover:ring-blue-700"
    >
      <a href="mailto:dv451197@gmail.com" target="_blank">
        <img class="w-7 h-7" src={Gmail.src} alt="Gmail" />
      </a>
    </span>
  </div>
</footer>

<style>
  .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
  }
</style>
