<nav class="w-full my-2 p-4 flex flex-row items-center justify-start">
  <div class="flex gap-8 cursor-pointer justify-center items-center">
    <span>
      <a href="https://twitter.com" target="_blank">
        <img class="w-7 h-7" src="/icons/twitter-x.svg" alt="X" />
      </a>
    </span>
    <span>
      <a href="https://linkedin.com" target="_blank">
        <img class="w-7 h-7" src="/icons/linkedin.svg" alt="LinkedIn" />
      </a>
    </span>
    <span>
      <a href="https://github.com/amanr-dev" target="_blank">
        <img class="w-7 h-7" src="/icons/github.svg" alt="Github" />
      </a>
    </span>
    <span>
      <a href="mailto:dv451197@gmail.com" target="_blank">
        <img class="w-7 h-7" src="/icons/gmail.svg" alt="Gmail" />
      </a>
    </span>
  </div>
</nav>
