---
import DarkModeToggle from "./DarkMode";
---

<nav
  class="w-full text-2xl my-2 p-4 flex flex-row items-center justify-between dark:text-light text-dark"
>
  <div class="gap-4 flex items-center">
    <span class="text-blue-700">
      <a href="/"> ddev </a>
    </span>
    <span class="underline">
      <a href="/about-me"> about </a>
    </span>
    <span class="underline">
      <a href="/projects"> projects </a>
    </span>
    <span class="underline">
      <a href="/contact-me"> contact </a>
    </span>
  </div>
  <div class="flex items-center gap-4 cursor-pointer justify-center">
    <DarkModeToggle client:only />
  </div>
</nav>

<style>
  .underline {
    text-decoration: none;
    position: relative;
    z-index: 10;
  }

  .underline::before {
    content: "";
    background-color: #1d4ed8;
    width: 0;
    height: 4px;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 33px;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    z-index: -1;
  }
  .underline:hover,
  .underline:hover::before {
    width: 100%;
    visibility: visible;
    transition: all 0.4s ease-in;
    text-decoration: none;
  }
</style>
