<nav
  class="w-full text-2xl my-2 p-4 flex flex-row items-center justify-between"
>
  <div class="flex-1 gap-4 flex">
    <span class="text-blue-700 font-bold">
      <a href="/"> A </a>
    </span>
    <span>
      <a href="/about"> About </a>
    </span>
    <span>
      <a href="/projects"> Projects </a>
    </span>
    <span>
      <a href="/contact"> Contact </a>
    </span>
  </div>
  <div class="flex items-center gap-4 cursor-pointer justify-center">
    <span>
      <img class="w-5 h-5" src="/icons/sun.svg" alt="Light Mode" />
    </span>
  </div>
</nav>
