<nav class="w-full text-2xl p-2 flex flex-row items-center justify-between">
  <div class="flex-1">
    <span class="text-blue-500">
      <a href="/"> amanr-dev </a>
    </span>
  </div>
  <div class="flex items-center gap-4 cursor-pointer justify-center">
    <span>
      <a href="/about"> About </a>
    </span>
    <span>
      <a href="/project"> Project </a>
    </span>
    <span>
      <a href="/contact"> Contact </a>
    </span>
    <span>
      <a href="https://twitter.com" target="_blank">
        <img class="w-5 h-5" src="/icons/twitter-x.svg" alt="X" />
      </a>
    </span>
    <span>
      <a href="https://linkedin.com" target="_blank">
        <img class="w-5 h-5" src="/icons/linkedIn.svg" alt="LinkedIn" />
      </a>
    </span>
    <span>
      <a href="https://github.com/amanr-dev" target="_blank">
        <img class="w-5 h-5" src="/icons/github.svg" alt="Github" />
      </a>
    </span>
    <span>
      <img class="w-5 h-5" src="/icons/sun.svg" alt="Light Mode" />
    </span>
  </div>
</nav>
