---
console.log("this is navbar");
---

<nav class="w-full p-2 flex flex-row items-center justify-between">
  <div class="flex-1">
    <span class="text-blue-500">
      <a href="/"> amanr-dev </a>
    </span>
  </div>
  <ul class="flex items-center gap-2 cursor-pointer">
    <li>About</li>
    <li>Project</li>
    <li>Contact</li>
    <li>X</li>
  </ul>
</nav>
