---
import "@fontsource-variable/quicksand";
---

<main
  class="flex items-start justify-start p-8 w-[60rem] max-w-5xl my-16 flex-col gap-8 bg-inherit"
>
  <div class="w-full flex items-start justify-start py-4">
    <h1 class="text-5xl text-blue-700 font-bold">amanr-dev</h1>
  </div>
  <div class="w-full flex-1">
    <p class="text-3xl leading-snug">
      Hey visitor 👋 I’m Aman Rawat, a Fullstack Developer, mostly doing
      Frontend with
      <span> <a href="#" class="underline-animation">React.js</a> </span>,
      <span> <a href="#" class="underline-animation">Next.js</a> </span>, and
      more. I like building cool projects and contributing to open source
      softwares. When I'm not coding, you’ll find me exploring the latest tech
      trends on
      <span> <a href="#" class="underline-animation">Twitter</a></span>
      and <span> <a href="#" class="underline-animation">LinkedIn.</a> </span>
    </p>
  </div>
</main>

<style>
  main {
    font-family: "Quicksand Variable";
  }
  .underline-animation {
    position: relative;
    color: inherit;
    z-index: 10;
    text-decoration: underline;
    text-decoration-color: #3b82f6;
  }

  .underline-animation::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #3b82f6;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    z-index: -1;
  }

  .underline-animation:hover,
  .underline-animation:hover::before {
    visibility: visible;
    width: 100%;
    text-decoration: none;
    transition: all 0.8s ease-out;
  }
</style>
