---
// import "@fontsource-variable/open-sans";
import "@fontsource-variable/dosis";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Popular and famous Software Engineer, Dipanshu Rawat's Portfolio Website"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="dark:text-light dark:bg-dark text-dark bg-light">
    <slot />
  </body>
</html>

<style is:global>
  body {
    scrollbar-width: thin;
    overflow-x: hidden;
    min-height: 100vh;
    width: 100%;
    font-family: "Dosis Variable";
  }

  /* Scrollbar Style*/
  ::-webkit-scrollbar {
    width: 16px;
  }

  ::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: #e5e7eb;
    border: 5px solid transparent;
    border-radius: 20px;
    transition: background-color 500ms ease-in-out;
  }
</style>
