---
import { Footer, Navbar } from "../components";
import Layout from "./Layout.astro";
import "@fontsource-variable/dosis";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <main class="h-full overflow-x-hidden overflow-y-scroll min-h-screen">
    <Navbar />
    <slot />
    <Footer />
  </main>
</Layout>

<style>
  main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
    width: 100%;
    height: 100%;
    max-width: 70rem;
    /* font-family: "Dosis Variable"; */
    /* font-family: "Open Sans"; */
    font-family: "Dosis Variable";
    font-size: 1.5rem;
    line-height: 1.6;
    background-color: transparent;
  }

  .animation-bg {
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
  }
</style>
